.App {
  /* display: flex; */
  display: grid;
  place-items: center;
  /* justify-content: center;
  align-items: center; */
  /* background: grey; */
  margin: 0 auto;
  /* top: 50%; */
  /* width: 50%; */
  /* border-radius: 10%; */

  /* width: 35%; */
}
.container {
  margin-top: 15%;
  box-shadow: 0 5px 20px hsl(0deg 0% 86% / 25%);
  padding: 32px 5%;
  width: 25%;
}
